* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.sign-up,
.careers {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("./assets/elliotPewterStock.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("./assets/fairfaxStock.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* body {
  background-color: skyblue;
  line-height: 1;
}

header {
  height: 100px;
  background-color: blue;
}

h1 {
  color: gold;
  font-size: 46px;
  display: flex;
  justify-content: center;
  margin-block-start: 0px;
  margin-block-end: -16px;
}

h1 span {
  /*color: red;*/
/* font-size: 68px !important;
  display: contents !important;
}

h2 {
  color: gold;
  margin-block-start: 9px !important;
  margin-block-end: 13px !important;
  display: flex !important;
  font-size: 16px !important;
  justify-content: center !important;
}

h1,
h2 {
  font-family: fantasy !important;
  text-shadow: 3px 0 darkblue, 0 -2px darkblue, -4px 0 darkblue, 0 3px darkblue;
}

#line1 {
  height: 1px !important;
  background-color: blue;
  width: 93px !important;
  border-color: blue;
  position: absolute !important;
  left: 0 !important;
  right: -26px !important;
  top: 13px !important;
}

#line2 {
  height: 1px;
  background-color: blue;
  width: 93px;
  border-color: blue;
  position: absolute;
  left: 0;
  right: -26px;
  top: 23px;
}

#line3 {
  height: 1px;
  background-color: blue;
  width: 93px;
  border-color: blue;
  position: absolute;
  left: 0;
  right: -26px;
  top: 32px;
}

#line4 {
  height: 1px;
  background-color: blue;
  width: 93px;
  border-color: blue;
  position: absolute;
  left: 0;
  right: -26px;
  top: 45px;
}

#line5 {
  color: red;
  height: 2px;
  background-color: gold;
  width: 80%;
  border-color: gold;
}

hr {
  margin: auto;
}

.businessDays {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
}

.dayOfWeek {
  color: Gold;
}

.businessHours {
  color: gold;
} */
